WebServiceProject/WebContent/wsdl/ServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://model" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://model" xmlns:intf="http://model" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://model" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="op">
    <complexType>
     <sequence>
      <element name="p" type="impl:Personne"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Personne">
    <sequence>
     <element name="nom" nillable="true" type="xsd:string"/>
     <element name="prenom" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="opResponse">
    <complexType>
     <sequence>
      <element name="opReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="opResponse">

      <wsdl:part element="impl:opResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="opRequest">

      <wsdl:part element="impl:op" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ServiceImpl">

      <wsdl:operation name="op">

         <wsdl:input message="impl:opRequest" name="opRequest">

       </wsdl:input>

         <wsdl:output message="impl:opResponse" name="opResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ServiceImplSoapBinding" type="impl:ServiceImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="op">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="opRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="opResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ServiceImplService">

      <wsdl:port binding="impl:ServiceImplSoapBinding" name="ServiceImpl">

         <wsdlsoap:address location="http://localhost:8080/WebServiceProject/services/ServiceImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
