CoreRequirements/RESTValueSubstitution/documents/animal.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="animal" type="animal"/>

  <xs:complexType name="animal">
    <xs:sequence>
      <xs:element name="pseudo" type="xs:string" minOccurs="0"/>
      <xs:element name="sex" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

